{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'assets/images/logo.png' %}">
        <title>Disclaimer</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href='https://cdn.boxicons.com/3.0.7/fonts/basic/boxicons.min.css' rel='stylesheet'>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@700;800;900;1000&family=Open+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
        <nav aria-label="Main navigation">
            <div class="logoname">
                <img src="{% static 'assets/images/logo.png' %}" class="logo" alt="logo of yuva organization">
                <h1>YUV<span class="letterspan">A</span>TEAM</h1>
            </div>
            <div class="menu-toggle" id="menu-toggle" aria-label="Open menu" aria-controls="main-menu">☰</div>
            <ul class="menu" id="nav-menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}"> About Us</a></li>
                <li class="menuu"><span class="onhavour"> What We Do </span>
                        <span><i class='bx  bx-chevron-down down-arrow' ></i></span> 
                    <ul class="dropdownmenu">
                        <li><a href="{% url 'education' %}">School Education</a></li>
                        <li><a href="{% url 'blood_donation' %}">Blood Donation</a></li>
                        <li><a href="{% url 'social_awareness' %}">Social Awareness</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'events' %}">Our Events</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><button class="supportbtn"><a href="{% url 'support' %}">Support Us</a></button></li>
                
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a href="{% url 'admin_dashboard' %}" class="login">Dashboard</a></li>
                    {% else %}
                        <li><a href="{% url 'user_profile' %}" class="login">Profile</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login' %}" class="login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        </header>    
        <main>
            <div class="disclaimercontent">
                <h1>Disclaimer</h1>
                <h3>1. General Information</h3>
                <p class="content">The information, materials, advice, suggestions, illustrations, notifications, circulars, and other content provided on this website (collectively referred to as “the content”) are intended for general informational purposes only. The content is updated periodically and may be modified without prior notice.</p>
                <h3>2. Accuracy and Liability</h3>
                <p class="content">The organization makes no representations or warranties regarding the accuracy, completeness, reliability, suitability, or availability of the content.Any reliance placed on the content is strictly at the user’s own risk.The organization disclaims all legal liability arising from the use of any information, products, services, or related graphics presented on this website.</p>
                <h3>3. Intellectual Property and Usage</h3>
                <p class="content">All content, including text, images, audio, and video, is protected by copyright and proprietary rights.Users may download materials for non-commercial, private use only, provided all copyright and proprietary notices are retained.Content may not be distributed, modified, transmitted, reused, reposted, or used for public or commercial purposes without prior written permission from the organization.</p>
                <h3>4. Risk and Responsibility</h3>
                <p class="content">The organization is not responsible for any actions taken based on the content.Users are encouraged to verify any information directly with the organization before acting upon it.</p>
                <h3>5. Content Updates</h3>
                <p class="content">The organization reserves the right to modify, update, or correct any part of the content at its sole discretion at any time.Users accessing or relying upon the content do so based on their own judgment.</p>
                <h3>6. Third-Party Trademarks</h3>
                <p class="content">All references to third-party logos or trademarks are understood to refer to their respective owners.Such references do not imply any affiliation with or endorsement by the organization and are used solely for informational purposes.</p>
                <h3>7. Terms of Use</h3>
                <p class="content">Your access and use of this website are subject to these Terms and Conditions and all applicable laws.By browsing this website, you agree to be bound by these Terms and acknowledge that any other agreement between you and the organization is superseded.</p>
            </div>
        </main>
        <footer>
        <div class="footerdetails">
            <div class="footerlogoname">
                <img src="{% static 'assets/images/logo.png' %}" class="footerlogo">
                <h1>YUV<span class="footletterspan">A</span> TEAM</h1>
                <p class="footer-lines">Empowering underprivileged youth through education and community service.</p><p>Join us in creating opportunities and transforming lives.</p>
                <div class="footersocialmedia">
                    <a href="https://www.facebook.com/yuvateem" target="_blank"><img src="{% static 'assets/images/social_12234051.png' %}" class="bx"> </a>
                    <a href="https://www.instagram.com/yuva_team_bhongir/" target="_blank"><img src="{% static 'assets/images/social_15707869.png' %}" class="bx"> </a>
                    <a href="mailto:yuvateam2009@gmail.com"><img src="{% static 'assets/images/google_16509529.png' %}" class="bx mail-icon"> </a>
                    <a href="" class="phone-icon" onclick="openPopup()"><img src="{% static 'assets/images/circle_16617786.png' %}" class="bx"> </a>
                    <div id="callPopup" class="popup">
                        <div class="popup-content">
                            <h3>Contact Us</h3>
                            <p id="phoneNumber">+91 9010455221</p>

                            <div class="popup-actions">
                                <a href="tel:+919010455221" class="btn call">Call</a>
                                <button class="btn copy" onclick="copyNumber()">Copy</button>
                            </div>

                            <span class="close" onclick="closePopup()">×</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footconmenu">
                <ul class="footmenu">
                    <li><a href="{% url 'about' %}"><span>ABOUT US</span></a>
                    <ul>
                        <li><a href="{% url 'about' %}#overview">Overview</a></li>
                        <li><a href="{% url 'about' %}#vision">Our Vision</a></li>
                        <li><a href="{% url 'about' %}#mission">Our Mission</a></li>
                        <li><a href="{% url 'about' %}#story">Our Story</a></li>
                        <li><a href="{% url 'about' %}#impact">Our Impact</a></li>
                        <li><a href="{% url 'about' %}#founder">Founder</a></li>
                    </ul></li>
                    <li><span>WHAT WE DO</span><ul>
                        <li><a href="{% url 'education' %}">School Education</a></li>
                        <li><a href="{% url 'blood_donation' %}">Blood Donation</a></li>
                        <li><a href="{% url 'social_awareness' %}">Social Awareness</a></li>
                    </ul></li>
                    <li><a href="{% url 'events' %}"><span>OUR EVENTS</span></a><ul>
                        <li><a href="{% url 'events' %}#live-events">Live Events</a></li>
                        <li><a href="{% url 'events' %}#event-activities">Event Activities</a></li>
                        <li><a href="{% url 'events' %}#newscoverage">Newspaper Coverage</a></li>
                    </ul></li>
                    <li><span>GET IN TOUCH</span>
                        <ul>
                        <li><a href="{% url 'support' %}">Support Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
                 <a href="{% url 'support' %}#onetime-form" class="donatebtn">Donate Now</a>
            </div>
        </div>
        <div class="copyrights">
          <a href="{% url 'disclaimer' %}">Disclaimer</a><span>|</span>
          <a href="{% url 'privacy_policy' %}">Privacy Policy</a><span>|</span>
          <p>&copy; 2009 Yuva Team - Bhongir <span>|</span> All rights reserved.</p>
        </div>
    </footer>
        <script src="{% static 'js/script1.js' %}" defer></script>
    </body>
</html>
