{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'assets/images/logo.png' %}">
    <title>Forgot Your Password</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://cdn.boxicons.com/3.0.7/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@700;800;900;1000&family=Open+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <main class="forgot-password">
        <h2>Forgot Your Password?</h2>
        <div class="frgtform">
            <p>Enter your registered email to receive an OTP.</p>
            <form action="#" method="POST">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Enter your registered email" required>
                <button type="submit">Send OTP</button>
            </form>
        </div>
        <a href="{% url 'login' %}" class="bcklgn">Back to Login</a>
    </main>
    <script src="{% static 'js/script1.js' %}" defer></script>
</body>
</html>